@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: "Bebas Neue";
}

body {
  background-color: black !important;
}

.navbar {
  background: rgb(7, 9, 9);
  background: linear-gradient(
    0deg,
    rgba(7, 9, 9, 1) 21%,
    rgba(253, 237, 45, 1) 100%
  );
  font-family: "Bebas Neue";
}

.navbar-brand {
  font-size: 30px !important;
}

.nav-link {
  font-weight: 600;
  color: rgb(29, 6, 6) !important;
  font-size: 26px;
}

.nav-link:hover {
  font-weight: 600;
  color: rgb(243, 17, 17) !important;
}

.header {
  font-family: "Bebas Neue";
  font-size: 80px;
  position: absolute;
  margin-left: 30px;
}

.nav-item {
  border: 2px solid black !important;
  font-family: "Bebas Neue";
}

#headImg {
  width: 130px;
  height: 100px;
}

.intro-img {
  width: 400px;
  height: 400px;
  margin-left: 750px;
  margin-top: 100px;
  position: absolute;
}

.notFound {
  font-family: "Bebas Neue";
  font-size: 90px;
  color: white;
  display: flex;
  justify-content: center;
}

.gohome {
  margin-left: 300px !important;
}

.fa-jedi {
  color: #ad5728;
}

.fa-globe-americas,
.fa-user,
.fa-space-shuttle {
  color: rgb(143, 72, 6) !important;
}

.fa-star {
  color: rgb(230, 215, 15) !important;
}

.bg-orange {
  background-color: rgb(206, 53, 53) !important;
}

.favs {
  color: white !important;
}

.favs:hover {
  color: rgb(206, 209, 12) !important;
}

.footer {
  margin-top: 420px;
  margin-left: 30px;
  border: 1.5px solid rgba(240, 233, 200, 1);
  width: 25%;
  text-align: center;
  padding: 3px;
  background-color: rgb(99, 99, 8);
  border-radius: 20px;
  -webkit-box-shadow: 7px 7px 5px -4px rgba(240, 233, 200, 1);
  -moz-box-shadow: 7px 7px 5px -4px rgba(240, 233, 200, 1);
  box-shadow: 7px 7px 5px -4px rgba(240, 233, 200, 1);
}

.modal-body,
.modal-title {
  font-size: 30px !important;
}

.card-body * {
  font-size: 26px !important;
}

.lix {
  font-size: 26px !important;
}